.idea
.gradle
gradle
build
gradlew.bat
benchmark/mapping/fusemap
benchmark/mapping/fusemap-agressive
benchmark/mapping/abc
benchmark/mapping/abc-delay
benchmark/mapping/abc-isolated
benchmark/mapping/blif/blif*